loadgen/build/
libmlperf_loadgen.a
__pycache__/
generated/

text_to_image/coco2014/calibration/
text_to_image/coco2014/captions/captions.tsv
text_to_image/coco2014/captions/captions_train2014.json
text_to_image/coco2014/latents/
text_to_image/debug.sh
text_to_image/hip/

text_to_image/main_network.py
text_to_image/mlperf_log_accuracy.json
text_to_image/mlperf_log_detail.txt
text_to_image/mlperf_log_summary.txt
text_to_image/mlperf_log_trace.json
text_to_image/output/
text_to_image/py_text_server_lon.py
text_to_image/sdxl_onnx_base_export/


text_to_image/coco2014/
text_to_image/output/
text_to_image/output_copy/
text_to_image/model/

*.log
loadgen/*
text_to_image/downloaded_model_folder/